body {
	background-color: beige;
	color: darkblue;
	margin: 0;
}

h1 {
	color: darkred;
}

h2 {
	color: orange;
}

form {
	background-color: darkblue;
	color: beige;
}

.container {
	max-width: 777px;
	margin: auto;
	background-color: darkgoldenrod;
	text-align: center;
}

.main-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-nav {
	display: flex;
}

ul {
	list-style-type: none;
}

.main-nav li {
	display: inline;
}

.main-nav li a,
#logo a {
	text-decoration: none;
	margin: 0 2rem;
	color: blueviolet;
}

.main-nav li a:hover {
	color: aquamarine;
}
